/* Grundsätzliches Layout für die Monsterkarten */
#monster-list {
    display: flex;
    flex-direction: column; /* Vertikale Anordnung */
    align-items: flex-start; /* Die Karten sollen links ausgerichtet sein */
    padding: 20px;
    margin: 0;
    gap: 10px; /* Abstand zwischen den Karten */
}

.monster-card {
    display: flex;
    align-items: center;
    background: #1d1d1d;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    margin: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.monster-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Der Name des Monsters */
.monster-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

/* Monster Typ */
.monster-type, .monster-species, .monster-element {
    font-size: 1rem;
    color: #ccc;
    margin: 5px 0;
    text-align: center;
}

/* Styling für das Monsterbild */
.monster-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.monster-icon {
    width: 30px; /* Anpassen je nach gewünschter Größe */
    height: 30px;
    object-fit: cover; /* Bild proportional zuschneiden */
    margin-right: 20px;
    
}

